* 
{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: "Comic Sans", cursive;
}
header {
    max-width: 80vw;
    margin-left:10vw;
    position: relative;
}
h1 
{
    position: relative;
    font-size:50px;
    font-weight: 100;
    top:20px;

}
nav{
    display: inline;
    width: 29%;
    position: relative;
    left: 50%;
    top:25px;

    z-index: 50;
}
.active
{
    background-color: rgb(112, 173, 71);
}

nav a 
{
    background-color: rgb(49, 106, 190);
    text-decoration: none;
    color: white;
    padding: 3px 15px 3px 15px;
    font-size: 18px;
    box-shadow: 4px 3px 0 rgb(119, 126, 126);;
}



.imagen-header {
    background-image: url(../Img/design1_image1.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
}

h2 {
    text-align: center;
    font-size: 30px;
    border:1px solid black;
}

section {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    position: relative;
}

h4 {
    display: none;
}
#logo {
    width: 150px;
    position: absolute;
}
.inline {
    width: 80%;
    display: inline-block;
    position:absolute;
    left:20%;
}

article {
    margin-bottom:20px;
}


.section2 {  
    height: 100vh;
}
.h2-section2 {
    text-align: end;
    width: 80%;
    border: none;
}

table {
    margin:auto; 
    width: 60%;

}
caption {
    font-size: 23px;
    font-weight: 20;
    text-align: justify;
    padding: 1%;
}
caption span {
    text-decoration: underline;
    font-size: 18px;
}
th {
    text-align: justify;
    font-size: 20px;
}

.date {
    text-align: center;
}

td {
    font-size: 18px;
    padding: 1%;
}
.last-table {
    margin:auto; 
    width: 60%;
  
}
.last-table td {
    padding: 0;
}
.last-line {
    text-align:end;

}


.article-post-tabla {
    margin:5% 20% 5%;
    font-size: 18px;
 
}

.article-post-tabla 
{
    margin-bottom: 0;
}
.header2-rules {
    text-align: center;
    margin-bottom:10vh;
}

.section3 h4 {
    display:block;
}
.h4-margin {
    margin-bottom: 2%;

}
.rules-article {
    margin-bottom: 5vh;
}

ol {
    margin-bottom:3%;
}
