* 
{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Merienda', cursive;
    border:1px solid black;
}
header {
    max-width: 80vw;
    margin-left:10vw;
}
h1 
{
    position: absolute;
    font-size:60px;
    margin-top: 5%;
    color: red;
    
}

nav {
    display: inline;
    margin-top: 50%;
}

#logo {
    width: 150px;
}

.imagen-header {
    background-image: url(../Img/design1_image1.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
}

h2 {
    text-align: center;
    font-size: 30px;
}
.inline {
    display: inline-block;
    width: 85%; 
}
section {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
}
section article {
    display: inline-block;
}